{%extends "core/base.html" %}

{% block title%}
  Cadastro de Usuários
{% endblock title%}

{%block content %}
  <div class="col-8 m-auto pt-2 pb-2">
    <h1>Cadastro</h1>
  </div>

  <div class="col-8 m-auto pt-3 pb-2">
    <a href="/" class="btn btn-dark">Voltar</a>
  </div>

  <div class="col-8 m-auto pt-4 pb-2">
    <form name="user-form" id="user-form" method="post" action="{% if data %}/users/update/{{data.id}}{% else %}create{% endif %}">
      {% csrf_token %}
      <div class="form-group mt-4">Email {{form.email}}</div>
      <div class="form-group mt-4">Senha {{form.password}}</div>
      <div class="form-group mt-4">Data de Aniversário {{form.birthday}}<span> exemplo: 2022-03-30</span></div>
      <input type="submit" class="btn btn-success" value="Cadastrar"/>
    </form>
  </div>
{% endblock content%}
