{%extends "core/base.html" %} {% block title%}Usuários{% endblock title%}
{%block content %}
<div class="col-8 m-auto pt-2 pb-2">
  <h1>Usuários</h1>
</div>

<div class="col-8 m-auto pt-2 pb-2">
  <a href="users/form" class="btn btn-success" >Adicionar</a>
  <a href="users/json" class="btn btn-info" target="_blank" rel="noopener noreferrer">JSON</a>
  <a href="users/csv" class="btn btn-info" target="_blank" rel="noopener noreferrer">CSV</a>
  <a href="users/xlsx" class="btn btn-info" target="_blank" rel="noopener noreferrer">XLSX</a>
</div>

<div class="col-8 m-auto pt-2 pb-2">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Senha</th>
        <th scope="col">Aniversário</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for users in data %}
        <tr>
          <td>{{users.email}}</td>
          <td>{{users.password}}</td>
          <td>{{users.birthday}}</td>
          <td>
            <a href="users/{{users.id}}" class="btn btn-dark">Visualizar</a>
            <a href="users/edit/{{users.id}}" class="btn btn-primary">Editar</a>
            <a href="users/delete/{{users.id}}" class="btn btn-danger delete_user">Deletar</a>
          </td>
        </tr>
      {% endfor %}      
    </tbody>
  </table>
</div>
<script>
  if(document.querySelector(".delete_user"))
  {
    let buttons = document.querySelectorAll(".delete_user");

    for(let i = 0; i < buttons.length; i++)
    {
      buttons[i].addEventListener("click", function(event){
        if(confirm("Deseja excluir o registro?"))
        {
          return true;
        }
        else
        {
          event.preventDefault();
        }
      })
    }
  }

</script>
{% endblock content %}


