{%extends "core/base.html" %}

{% block title%}
  Visualizar Usuário
{% endblock title%}

{%block content %}
  <div class="col-8 m-auto pt-2 pb-2">
    <h1>Cadastro</h1>
  </div>

  <div class="col-8 m-auto pt-3 pb-2">
    <a href="/" class="btn btn-dark">Voltar</a>
  </div>

  <div class="col-8 m-auto pt-4 pb-2">
    <span><strong>Email: </strong>{{data.email}}</span><br/>
    <span><strong>Senha: </strong>{{data.password}}</span><br/>
    <span><strong>Aniversário: </strong>{{data.birthday}}</span><br/>
    <span><strong>Cadastrado em: </strong>{{data.create_at}}</span><br/>
    <span><strong>Atualizado em: </strong>{{data.update_at}}</span><br/>
  </div>
{% endblock content%}
