.Homepage {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    color: white;
    background-color: #252728;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Homepage h1 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-shadow: 2px 2px 4px #000000;
}

.Homepage a {
    text-decoration: none;
    color: #ffe3af;
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
}

.Homepage .sidebar-image {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-image: url("../images/6540724.jpg");
    background-position: right 0px bottom 1px;
    background-repeat: no-repeat;
}

.Homepage .topbar {
    height: 80px;
    padding-top: 20px;
    text-align: right;
}

.Homepage .panel {
    height: 330px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.Homepage .sidebar-image {
    background-color: #1f3e2d;
}

.Homepage .info {
    font-size: 14px;
    color: gray;
    text-shadow: 2px 2px 4px #000000;
}

.BirthdayComponent .info {
    padding-left: 4px;
}

.BirthdayComponent .input-invalid {
    color: red;
}

.Homepage .navbar {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 30px;
}

.Homepage .navbar span {
    line-height: 60px;
}

.Homepage .social-icons {
    display: flex;
    border-top: 2px solid #333539;
}

.Homepage .social-icons div {
    margin-top: 10px;
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

.Homepage .social-icons .twitter {
    background-image: url("../images/twitter.png");
    background-repeat: no-repeat;
}

.Homepage .social-icons .whatsapp {
    background-image: url("../images/whatsapp.png");
    background-repeat: no-repeat;
}

.Homepage .social-icons .facebook {
    background-image: url("../images/facebook.png");
    background-repeat: no-repeat;
}
