.NavMenuComponent .dropbtn {
    margin-top: 10px;
    margin-right: 20px;
    background-color: #fed794;
    color: black;
    font-weight: bold;
    padding: 8px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* The container <div> - needed to position the dropdown content */
.NavMenuComponent .dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.NavMenuComponent .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.NavMenuComponent .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.NavMenuComponent .dropdown-content a:hover {
    background-color: #bcb8b1;
}

/* Show the dropdown menu on hover */
.NavMenuComponent .dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.NavMenuComponent .dropdown:hover .dropbtn {
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ffe3af;
}
