.UserForm {
    padding: 20px;
}

.UserForm form {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.UserForm input[type="email"],
input[type="password"] {
    width: 100%;
}

.UserForm input[type="text"] {
    width: 72px;
}

.UserForm select {
    width: 150px;
}

.UserForm input[type="text"],
input[type="email"],
input[type="password"],
select {
    padding: 12px;
    margin: 8px 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.UserForm input[type="submit"] {
    width: 100px;
    background-color: #ffe3af;
    color: #252728;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.UserForm input[type="submit"]:hover {
    background-color: #fed794;
}
