.UsersPage .card-header {
    width: 100%;
    height: 160px;
    color: white;
    background-image: url("../images/6540724.jpg");
    background-position: right 0px bottom -1px;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.UsersPage .card-header .label {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

.UsersPage h1 {
    text-shadow: 2px 2px 4px #000000;
}

.UsersPage .nav-menu-container {
    padding: 15px;
    display: flex;
    justify-content: right;
}

.UsersPage a {
    text-decoration: none;
    color: black;
}
