.UsersTableComponent {
    margin-top: 36px;
}

.UsersTableComponent .table {
    width: 100%;
    border-collapse: collapse;
}

.UsersTableComponent .table th,
td {
    text-align: center;
    border-bottom: 1px solid grey;
}

.UsersTableComponent .table tr {
    line-height: 42px;
}

.UsersTableComponent .table-header {
    height: 15px;
    color: white;
    background: #94c6fe;
}

.UsersTableComponent .table tbody tr:nth-child(even) {
    background-color: #e2fe94;
}

.UsersTableComponent .table tbody tr:nth-child(odd) {
    background-color: white;
}
