.UserDetail .card-header {
    width: 100%;
    height: 160px;
    color: white;
    background-image: url("../images/6540724.jpg");
    background-position: right 0px bottom -1px;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.UserDetail .card-header .label {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

.UserDetail h1 {
    text-shadow: 2px 2px 4px #000000;
}

.UserDetail .back-link {
    margin-top: 20px;
    padding-left: 30px;
}

.UserDetail a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.UserDetail a:hover {
    color: #266b64;
}

.UserDetail .details {
    margin: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
